<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.common.dao.base.UserRoleDAO" >
  <resultMap id="BaseResultMap" type="com.common.pojo.base.UserRole" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <id column="role_id" property="roleId" jdbcType="BIGINT" />
  </resultMap>
  
  <resultMap id="RolesList" type="com.common.pojo.base.Role" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="com.common.pojo.base.UserRole" >
    delete from users_roles
    where user_id = #{userId,jdbcType=BIGINT}
      and role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.common.pojo.base.UserRole" >
    insert into users_roles (user_id, role_id)
    values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.common.pojo.base.UserRole" >
    insert into users_roles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
  <select id="selectRolesByUserId" resultMap="RolesList" parameterType="java.lang.Long" >
	SELECT r.id, r.name, r.description FROM users_roles ur
	LEFT JOIN roles r ON ur.role_id = r.id
	WHERE ur.user_id = #{userId,jdbcType=BIGINT}
  </select>
  
</mapper>